/* utility */

* {
    margin: 0;
    padding: 0;
    box-sizing: boder-box;
}
.debug {
    border: 1px solid black;

}
:root {
    --grey: rgb(74, 74, 74);
    --black: black;
    --white: white;
}

/* macro aree */
html {
color: var(--white);
}
header {
    background-color: var(--black);
    height: 50px;
    /* padding: 10px 0; */
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}
main {
    background-color: var(--black);
    height: calc(100vh - 100px);
    padding: 50px 0;
    overflow-y: scroll;
    position: relative;
    margin: 50px 0;
    padding: 0 10px;
}
footer {
    background-color: var(--grey);
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

/* Proprietà flex principale */

.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
}

.container {
    background-color: var(--black);
    margin-top: 10px;
    /* width: 90%;
    height: 90%; */
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* cambiate proprietà flex  */
    /* overflow-y: scroll; */
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;

}
.views {
    padding: 5px;
    background-color: var(--grey);
    color: white;
    border-radius: 10px;
    margin: 0 5px;
    /* font-size: 1.7vw; */
    
    
}
.item {
    background-color: brown;
    width: calc((100% - 70px) / 7);
    min-width: 180px;
    margin: 2px;
}
.item img{
    width: 100%;
}


footer div.flex {
    justify-content: space-between;
    height: 100%;
    padding: 0 20px;
    font-weight: 700;
    font-size: 24px;
    /* align-items: stretch;*/
    align-content: center; 
}
.left {
    /* vertical-align: middle; */
}

.right {
    color: red;
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    line-height: 50px;
    padding: 0 20px;
}
.right a {
    text-decoration: none;
}